<h2> <%= @category.title %></h2>

<% @category.articles.each do |article| %>
  <p> <%= link_to article.title, category_article_path(@category, article)
   %></p>

<% end %>

<p> <%= link_to 'Back', categories_path %></p>
<p> <%= link_to 'Create new article', new_category_article_path(@category) %> </p>
